.login {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100vh - 60px);
    width: 100vw;
    background-color: transparent;
    background-image: url("../media/image/bg001.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-itmes {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    /*border: 1px solid white;*/
    padding: 50px;
    /**background-color: rgba(255, 99, 71, 0.37); */
    grid-gap: 30px;
    /*box-shadow: 0 0 4px 0 white;*/
}

.items-input {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
}

.items-button {
    display: flex;
    flex-direction: row;
}

